body{
    background-color: silver;
}
.container{
    text-align: center;
}
.tuck {
    margin: 0.5em;
    display: inline-block
}
table,
th,
td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
  } 
  td,
  th {
    padding: 12px 15px;
  }
ul{
    list-style: none;
}
li{
    list-style: none;
}
.red{
    background-color:red
}
.green{
    background-color:green
}
.orange{
    background-color:orange
}
.error{    
    color: red;
    text-align: center;
}
.pass{
    color: green;
    text-align: center;
}